body {
  background-color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.form-container {
  text-align: center;
  border: 5px solid green;
  padding: 20px; /* Adjust padding as needed */
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  align-items: center;
}

#myInput,
#Priority,
#timing {
  margin-top: 10px; /* Adjust the margin as needed */
  border:5px solid green;
  height:50px;
	width:350px;
}

#pro {
  margin-left:140px;
  color:black;
  font-weight: bold; 
}

#time {
  margin-left:140px;
  color:black;
  font-weight: bold; 
}

#input{
	border:5px solid green;
	height:40px;
	width:400px;
	margin-left:140px;
	margin-top:60px;
}

#add{
	border:5px solid green;
	height:50px;
	width:100px;
	margin-left:300px;
	margin-top:60px;
}

.first_div{
	border:5px solid pink;
	height:800px;
	width:800px;
}
