body {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.form-container {
  text-align: center;
  border: 5px solid green;
  padding: 20px; /* Adjust padding as needed */
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  align-items: center;
}

#myInput,
#Priority,
#timing {
  margin-top: 10px; /* Adjust the margin as needed */
  width: 300px;
  height: 30px;
}

#pro,
#time {
  margin: 10px 0;
}

